{% extends 'buy/base.html'%}
{% load static %}
<!doctype html>
{% block jscss %}
<link rel='stylesheet' href='/static/buy/css/prettyPhoto.css' type='text/css' media='all'>
<script type="text/javascript" src="/static/buy/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/buy/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/buy/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/buy/js/modernizr-2.7.1.min.js"></script>
<script type="text/javascript" src="/static/buy/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/buy/js/jquery.countdown.min.js"></script>
<script type='text/javascript' src='/static/buy/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='/static/buy/js/jquery.prettyPhoto.init.min.js'></script>
<script type="text/javascript" src="/static/buy/js/script.js"></script>
<script type="text/javascript" src="/static/buy/js/core.min.js"></script>
<script type="text/javascript" src="/static/buy/js/widget.min.js"></script>
<script type="text/javascript" src="/static/buy/js/mouse.min.js"></script>
<script type="text/javascript" src="/static/buy/js/slider.min.js"></script>
<script type="text/javascript" src="/static/buy/js/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="/static/buy/js/price-slider.js"></script>
{% endblock %}
{% block add %}
	<div class="site">
	<div id="main">
		<div class="section section-bg-10 pt-11 pb-17">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-title text-center">所有商品</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-2 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumbs">
							<li><a href="/buy/index/">主页</a></li>
							<li>所有商品</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-7 pb-7">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-push-3" style="margin-left: -50px">
						<div class="product-grid">
                            {% for i in data %}
							<div class="col-md-4 col-sm-6 product-item text-center mb-3">
								<div class="product-thumb">
									<a href="/buy/shop_detail/{{ i.id }}/">
										<img src="{% static i.img %}" style="height: 256px;width: 256px" />
									</a>
									<div class="product-action">
										<span class="add-to-cart">
											<a  data-toggle="tooltip" data-placement="top" title="查看"></a>
										</span>
										<span class="compare">
											<a  data-toggle="tooltip" data-placement="top" title="详情"></a>
										</span>
									</div>
								</div>
								<div class="product-info">
									<a href="/buy/shop_detail/{{ i.id }}">
										<h2 class="title">{{ i.name }}</h2>
										<span class="price">
											<del>{{ i.nowprice }}</del>
											<ins>{{ i.price }}</ins>
										</span>
									</a>
								</div>
							</div>
                            {% endfor %}
						</div>
						<div class="pagination">
                            {% for i in page_range %}
							<a class="page-numbers" href="/buy/all_shop/{{ i }}">{{ i }}</a>
                            {% endfor %}
						</div>
					</div>
					<div class="col-md-3 col-md-pull-9" style="margin-left: -100px">
						<div class="sidebar">
{#							<div class="widget widget-product-search">#}
{#								<form class="form-search">#}
{#									<input type="text" class="search-field" placeholder="商品搜索" value="" name="s" />#}
{#									<input type="submit" value="Search" />#}
{#								</form>#}
{#							</div>#}
							<div class="widget widget-product-categories">
								<div class="widget widget-tags">
								<h3 class="widget-title">热卖</h3>
								<div class="tagcloud">
									<a >饮料</a>
									<a >水果</a>
									<a >苹果</a>
									<a >橙子</a>
									<a >橙子</a>
									<a >蔬菜</a>
									<a >葡萄</a>
									<a >奇异果</a>
									<a >梨</a>
								</div>
							</div>
							</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


