{% extends 'buy/base.html'%}
{% load static %}
<!doctype html>
{% block add %}
    <div class="site">
	<div id="main">
		<div class="section section-bg-10 pt-11 pb-17">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-title text-center">查看店家</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="section border-bottom pt-2 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumbs">
							<li><a href="/buy/index/">首页</a></li>
							<li>全部店家</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
        {% for i in all %}
        <div class="col-md-4 col-sm-6 product-item text-center mb-3" style="width: 300px;height: 300px;margin-left: 70px">
            <div class="product-thumb">
                <a href="/buy/seller_shop/{{ i.id }}">
                    <img src="{% static i.img %}" alt="" />
                </a>
            </div>
            <div class="product-info">
                <a href="/buy/seller_shop/{{ i.id }}">
                    <h2 class="title">{{ i.name }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}
